CODE_OF_CONDUCT.md                                                                                                      
CONTRIBUTING_GUIDELINES.md                                                                                              
README.md                                                                                                               
LICENCE                                                                                                                 
Dockerfile                                                                                                              
banner.png 
